<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>  
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">
                        <img src="assets/images/logo.png" alt="Softy Pinko"/>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="#welcome" class="active">Acceuil</a></li>
                        
                        
                        
                        <li><a href="#pricing-plans">Tarifs & Devis</a></li>
                        <li><a href="#blog">Nos Réalisations</a></li>
                        <li><a href="#contact-us">Contactez-nous</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>FAITES APPEL À UN ÉLECTRICIEN  <strong>COMPÉTENT</strong><br>PROCHE DE  <strong>CHEZ VOUS</strong></h1>
                    <p>POUR TOUS VOS TRAVAUX EN ÉLECTRICITÉ</p>
                    <a href="#contact-us" class="main-button-slider">Devis gratuit</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><span class="material-icons">
                                    build
                                    </span></i>
                            </div>
                            <h5 class="features-title">DÉPANNAGE URGENCE</h5>
                            <p></p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><span class="material-icons">
                                    construction
                                    </span></i>
                            </div>
                            <h5 class="features-title">RÉPARATION & RÉNOVATION</h5>
                            <p></p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><span class="material-icons">
                                    electrical_services
                                    </span></i>
                            </div>
                            <h5 class="features-title">INSTALLATION ÉLECTRIQUE</h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><span class="material-icons">
                                    model_training
                                    </span></i>
                            </div>
                            <h5 class="features-title">DIAGNOSTIQUE & MISE EN CONFORMITÉ
                            </h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">TRANSPARENCE DES TARIFS

                    </h2>
                </div>
                <div class="left-text">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<!-- <section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">We can help you to grow your business</h2>
                </div>
                <div class="left-text">
                    <p>Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna. Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit.</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section> -->
<!-- ***** Features Big Item End ***** -->


 


<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">TARIFS & DEVIS</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p></p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h1 class="pricing-title">Dépannage Urgence
                        </h1>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="period">À partir de</span>
                            <span class="price">109</span>

                            <span class="currency">€
                            </span>
                            
                        </div>
                        <ul class="list">
                            <li class="active">Dépannage électrique
                            </li>
                            <li class="active">Recherche panne électrique
                            </li>
                            
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#contact-us" class="main-button">Devis personnalisé</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                <div class="pricing-item active">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Réparation <strong>&</strong> Rénovation
                        </h3>
                        <br>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="period">À partir de</span>
                            <span class="price">95</span>

                            <span class="currency">€
                            </span>
                        </div>
                        <ul class="list">
                            <li class="active">Réparation tableau électrique

                            </li>
                            
                            <li class="active">Réparation prise électrique

                            </li>
                            <li class="active">Réparation luminaire

                            </li>
                           
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#contact-us" class="main-button">Devis personnalisé</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
<!-- ***** Pricing Item Start ***** -->
<div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
    <div class="pricing-item">
        <div class="pricing-header">
            <h1 class="pricing-title">Installation Électrique

            </h1>
        </div>
        <div class="pricing-body">
            <div class="price-wrapper">
                <span class="period">À partir de</span>
                <span class="price">95</span>

                <span class="currency">€
                </span>
                
            </div>
            <ul class="list">
                <li class="active">Installation électrique


                </li>
                <li class="active">Installation tableau électrique


                </li>
                <li class="active">Installation prise électrique




                </li>
                
            </ul>
        </div>
        <div class="pricing-footer">
            <a href="#contact-us" class="main-button">Devis personnalisé</a>
        </div>
    </div>
</div>
<!-- ***** Pricing Item End ***** -->
<!-- ***** Pricing Item Start ***** -->
<div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
    
</div>
<!-- ***** Pricing Item End ***** -->
<!-- ***** Pricing Item Start ***** -->
<div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
    <div class="pricing-item active">
        <div class="pricing-header">
            <h3 class="pricing-title">Diagnostique <strong>&</strong><br> Mise en Conformité
            </h3> <br>
                </div>
        <div class="pricing-body">
            <div class="price-wrapper">
                <span class="period">À partir de</span>
                <span class="price">140</span>

                <span class="currency">€
                </span>
            </div>
            <ul class="list">
                <li class="active">Contrôle et diagnostique



                </li>
                
                <li class="active">Remises aux normes



                </li>
                
               
            </ul>
        </div>
        <div class="pricing-footer">
            <a href="#contact-us" class="main-button">Devis personnalisé</a>
        </div>
    </div>
</div>
<!-- ***** Pricing Item End ***** -->
            
        </div>
    </div>
</section>
<!-- ***** Pricing Plans End ***** -->

<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>126</strong>
                        <span>Projets</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-top">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>63</strong>
                        <span>Clients Satisfaits</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Counter Parallax End ***** -->   

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">NOS RÉALISATIONS </h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p></p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/2.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/5.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/6.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/8.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/9.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/10.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/11.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/12.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="assets/images/13.jpg" alt="">
                    </div>
                    
                </div>
            </div>
            
            
        </div>
    </div>
</section>
<!-- ***** Blog End ***** -->

<!-- ***** Contact Us Start ***** -->
<section class="section colored" id="contact-us">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Conactez-nous</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Pour nous contacter, vous pouvez nous appeler directement. </p>
                    <h1 >01 79 73 35 77</h1> 
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Contact Text Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                
                <div class="contact-text">
                    <p>
                    <br> </p>
                    <p></p>
                </div>
            </div>
            <!-- ***** Contact Text End ***** -->

            
        </div>
    </div>
</section>
<!-- ***** Contact Us End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright &copy; 2021 Aslene Ouaze</p>
            </div>
        </div>
    </div>
</footer>